@media (max-width: 600px) {
    table {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 10px;
    }
}


nav {
    background-color: rgb(33, 167, 122);
    
}


#close {
align-items: end;
 display: flex;
justify-content: end;
 
}

#addClientBtn {
background-color: rgb(33, 167, 122);
border: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 15px;
width: 25vh;
}

#sendBtn {
    border-radius: 25px;
    padding: 30px;
    width: 40vh; 
}
.actionBtn {
    border: 0px;
    border-radius: 1vh;
    padding: 2vh;
    font-size: medium;
}


.title {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    text-align: center;
   
}

.tableProperties {
    background-color: rgb(33, 167, 122);
    padding: 20px;
}

#table {
    align-items: center;
    background-color: rgb(255, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
 
   
}
#nextClient {
    background-color: rgb(33, 167, 122);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    text-align: center;
    object-fit: cover;
    width: 100%;

}

#navAddClient {
position: absolute;
justify-content: space-between;
align-items: center;
top: 0;
width: 100%;
display: flex;

}


#closeAddClient {
    cursor:pointer;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 15px;
}

#closeAddClient:hover{
    font-size: xx-large;
}

#sectionAddClient  {
    align-items: center;
    background-color:azure;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    width: 70vh;

}

.insertInformations {
    display: block; /* Faz com que o label ocupe toda a largura disponível */
    font-size: medium;
    margin-top: 10px; /* Espaçamento entre os inputs */
    width: 80%
}

.inputInformations {
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin: 8px 8px; 
    padding: 10px; 
    width: 90%; 
}


#searchNav {
    align-items: center;
    display:flex;
    justify-content:center;
    margin: 5vh;
}

.searchBar {
    margin: 3vh;
}


.inputInformations:hover {
    border: 3px solid green;
}


.modal {
    left: 50%;
    position: fixed; 
    transform: translate(-50%, -50%); 
    top: 50%; 
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}